@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root{
    --light-gray:#F9FAFB;
    --primary-color:#6C63FF;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
}


h1{
    font-weight: bold;
    padding:2rem;
    margin:1rem;
}

.container {
    padding: 0rem 1rem;
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0 1px 18px rgba(146,161,176,.15);
    min-height:85vh;
}

.container-center{
    max-width:600px;
    margin:auto;
    margin-top:1rem;
}

.row{
    display: flex;
    justify-content: center;
}

input{
    padding: 1rem;
    color: #4b5563;
    font-size: 1rem;
    border: none;
    box-shadow: 0 1px 18px rgba(146,161,176,.15);
    border-radius: 0.5rem;
    width:100%;
    margin-left:1.5rem;
    display: inline-block;
}

label{
   
    font-family: "Varela Round", sans-serif;
    margin: auto;
    margin-left:2rem;
    display: inline-block;
    
}

button{
    background: var(--primary-color) ;
    border:none;
    padding:1rem 4rem 1rem 4rem;
    box-shadow: 0 1px 18px #EFF6FF;
    border-radius: 0.25rem;
    color: white;
    font-size:1rem;
    cursor: pointer;
}

#submit-btn {
    width: 120px;
    background-color:var(--primary-color) ;
    color: var(--white);
    border: 1px solid hwb(0 0% 100%);
    font: inherit;
    padding: 1rem;
    box-shadow: var(--boxShadow);
    transition: all 0.3s;
    cursor: pointer;
    align-items: center;
    align-content: center;

}

#submit-btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.output-box{
    width:90%;
    margin: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    font-size: 1.25rem;
    align-items: center;
}

#output{
    width: 100%;
    margin: auto;
}

/*footer*/

.footer{
    background-color:var(--light-gray);
    background-color: white;
    padding:2rem 0rem;
    text-align: center;
    color:black;
    border-top-right-radius:1rem;
    box-shadow: 0 1px 25px #E5E7EB;
    margin-top: 3rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
    padding-inline-start:0px;
}
.footer .link{
    color:black;
}

.footer ul{
    padding-left:0px;
}

.footer-icon{
    width:2rem;
}

.social-links {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0.25rem;
}
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    body{
        background-color: white;
    }
    

    .container-center{
        margin: 0;
        border-radius: 0;
        padding: 0;
    }


    h1{
        text-align: center;
    }

    .row{
        margin:2rem;
    }

    input{
        width: 90%;
    }

    
    .output-box{
        flex-direction: column;
    }

    .output{
        order: 0;
    }

    .container{
        /* height: 100vh; */
        margin-bottom: 1rem;
    }

    label{
        width:20%;
        margin: auto;
    }
}














